#mHeading{
    text-align: center;
}
body{
    text-align: center;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    background-color: #ffffff;
}
.searchArea{
    margin: auto;
    font-size: large;
}
#sbutton{
    background-color: #272343;
}
.recpImg{
    margin: auto;
}
.cards{
    list-style: none;
}
#mealRecipe{
    display: grid;
    list-style-type: none;
}
input[type=text]{
    width: 25em;
    height: 1.75em;
    border-radius: 10px;
    border: 1px solid #e3f6f5;
}
#topRecpCard{
    background-color: #bae8e8;

}
#error{
    background-color: #bae8e8;
    font-size: medium;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}