#mHeading{
    text-align: center;
}
body{
    text-align: center;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}
.searchArea{
    margin: auto;
    font-size: large;
}
#sbutton{
    
}
.recpImg{
    margin: auto;
}
.cards{
    list-style: none;
}
#mealRecipe{
    display: grid;
    list-style-type: none;
}
#topRecpCard{
    display: block;
}
