#mHeading{
    text-align: center;
}
body{
    text-align: center;
}
.searchArea{
    margin: auto;
    font-size: large;
}
.recpImg{
    margin: auto;
}
.cards{
    list-style: none;
}
#mealRecipe{
    display: grid;
    list-style-type: none;
}
#topRecpCard{
    display: block;
}
